*{
    padding: 0;
    margin: 0;
}

h1{
    background-color: antiquewhite;
    font-size: 50px;
    /* setting up borders */
    border-style: solid;
    border-width: 10px;
    border-color: brown;
    /* make round edges */
    border-radius: 30px;
}

.PARA1{
    background-color: aqua;

    /* shorthand notation/property for border */
    /* syntax- border: width style color */
    border: 10px solid violet;

    border-top-left-radius: 30px;   /*changing roundness of individual corner */
    border-top-right-radius: 10px;

    /* implementing box model */
    /* margin: 30px; */
    /* margin: 50px 100px; in x-y coordinates */
    /* specifying all side's margin */
    /* margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 60px;
    margin-right: 70px; */
    /* shorthand notation for all sides */
    margin: 100px 50px 60px 70px;


    /* padding: 10px;  in all directions */
    /* padding: 10px 20px; for x-y coordinates */
    /* specifiying all side's padding separately */
    /* padding-left: 10px;
    padding-right: 15px;
    padding-top: 13px;
    padding-bottom: 18px; */
    /* shorthand notation for all sides */
    /* syntax: padding: top right bottom left */
    padding: 10px 20px 15px 18px;

}

.PARA2{

    background-color: magenta;

    border:5px dotted lightgreen;

margin: 10px;
}

.PARA3{
    background-color: bisque;

    border:20px solid mediumspringgreen;
}