*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;

    /* applying gradient */
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

     /* center the box */
    display: flex;
    justify-content: center;
    align-items: center;

}
.box{
    height: 65%;
    width: 23%;

    background-color: white;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;    /*flex direction is column*/
    gap:15px;

    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}
.box img{
    height: 35%;
    width: 100%;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.box #para{
    font-size: 16px;
    text-align: justify;
    padding: 10px;
}

.box button{
    height: 8%;
    width: 83%;

    background-color: darkblue;
    color: white;
    /* border: 0px solid darkblue; */

    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    border-radius: 7px;
}
.planBox{
    background-color: #6c9ae2;
    height: 10%;
    width: 90%;
    border-radius: 7px;
    padding-top: 7px;
    /* padding-left: 7px; */
    padding-right: 7px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.planBox a{
    text-decoration: none;
    font-size: 15px;
    padding-right: 7px;
}

.box1{
    height: 90%;
    width: 50%;
    
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    align-items: center;
}
.box1 img{
    height: 90%;
    width: 23%;
}
.box1 #para2{
    font-size: 12px;
    

}

.cancelBox a{
    color: #3a3b3d;
    text-decoration: none;
    font-size: 18;
    font-weight: bold;
}